<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:util="http://www.springframework.org/schema/util"  
    xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd  
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd"  
    > 
    
    
   	<!-- 配置 JedisPoolConfig 实例 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <property name="maxIdle" value="${redis.server.maxIdle}"/>  
        <property name="maxTotal" value="${redis.server.maxActive}"/>  
        <property name="maxWaitMillis" value="${redis.server.maxWaitMillis}"/> 
        <property name="testOnBorrow" value="${redis.server.testOnBorrow}"/> 
        <property name="testOnReturn" value="${redis.server.testOnReturn}"/>  
    </bean>
      
    <!-- 配置JedisConnectionFactory -->  
    <bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">  
        <property name="poolConfig" ref="jedisPoolConfig"/>  
        <property name="hostName" value="${redis.server.host}"/>  
        <property name="port" value="${redis.server.port}"/>  
        <property name="password" value="${redis.server.password}"/>  
        <property name="database" value="${redis.server.dbIndex}"/>  
    </bean>  
    
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">  
        <property name="connectionFactory" ref="redisConnectionFactory" />  
    </bean>   
    
    
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" scope="singleton">  
        <constructor-arg ref="jedisPoolConfig"/>  
        <constructor-arg value="${redis.server.host}"/>  
        <constructor-arg value="${redis.server.port}" type="int"/>  
        <constructor-arg value="${redis.server.timeOut}" type="int"/>  
        <constructor-arg value="${redis.server.password}"/>  
    </bean>  
      
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" scope="singleton">  
        <constructor-arg index="0" ref="jedisPoolConfig" />  
        <constructor-arg index="1">  
            <list>  
                <bean class="redis.clients.jedis.JedisShardInfo">  
                    <constructor-arg name="host" value="${redis.server.host}"/>  
                    <constructor-arg name="port" value="${redis.server.port}"/>  
                    <constructor-arg name="timeout" value="${redis.server.timeOut}"/>  
                    <constructor-arg name="weight" value="${redis.server.weight}" />
                    <property name="password" value="${redis.server.password}"></property>
                </bean> 
            </list>  
        </constructor-arg>  
    </bean>  
      
</beans>  